
// 全局字体大小调整
html {
  font-size: 16px; // 默认是20px，16px会更小一些
}

// 文章内容字体
.page__content {
  font-size: 0.9rem; // 调整为原来的90%
}

// 标题字体
h1 {
  font-size: 2rem; // 调整标题大小
}
h2 {
  font-size: 1.5rem;
}

.author__avatar {
  img {
    border-radius: 50% !important;  // 正圆形
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}